<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="sideBar">
    <mat-list role="list">
      <mat-list-item role="listitem" routerLink="bank" routerLinkActive="active-list-item">
        <mat-icon class="center-flex">attach_money</mat-icon>
      </mat-list-item>
      <mat-list-item role="listitem" routerLink="profile" routerLinkActive="active-list-item">
        <mat-icon class="center-flex">person</mat-icon>
      </mat-list-item>
      <mat-list-item *ngIf="isCurrentRoute('profile')" id="logout-icon" role="listitem" (click)="authService.SignOut()">
        <mat-icon class="center-flex">exit_to_app</mat-icon>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>